
.cloud-cover {
    text-transform: capitalize;
}


.j-border {
    border: 2px solid black;
    border-radius: 20px;
}

.saved-btn:hover {
    cursor: pointer;
}

.j-text-color {
    color: white;
}

#title {
    color: white;
}