
#city-weather {
    border: 2px solid black;
}

.cloud-cover {
    text-transform: capitalize;
}

#five-day-forecast {
    border: 2px solid black;
}

.saved-btn {
    border: 1px dashed blue;
}

.saved-btn:hover {
    cursor: pointer;
}